/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
















.container{
  border: solid 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 500px;
  width: 500px;
  position: relative;
  margin: 0 auto;
  font-family:Helvetica;
}
.lesson{
  color:green;
  font-size:2em;
  padding:50 0;
  font-weight: bold;
  margin-top: 50px;
  margin-left:50px;


}
.circle{
  font-size:3.5em;
  position: absolute;
  left:420px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  color:white;
  height:100px;
  width:100px;
  text-align:center;
  z-index:1;
}
.css{
  color:gray;
  font-size:2em;
  padding-bottom: 30px;
  margin-top: 50px;
  font-weight: bold;
  margin-left: 50px;

}
ul{
  list-style-type: square;
  margin-left: 65px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  line-height: 35px;

}
li{
  text-decoration-color: rgba(0, 0, 0, 0.25);
  color:#3086C9;
  font-size: 1.5em;

}
.share{
  color:gray;
  font-size:2em;
  padding-bottom: 30px;
  margin-top: 50px;
  font-weight: bold;
  margin-left: 50px;

}
.images{
  max-width:200px;
  max-height:50px;
  margin-left: 50px;
}
img{
  height:50px;
  width:50px;
  padding:0 7px;
}
